:root{

    --branco-principal:#FFFFFF;
    --cinza-principal:#C0C0C0;
    --botao-azul:#167bf7;
    --cor-de-fundo:#00030C;
    --fonte-principal:'Inter'
    
    }
    body{
    
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    
    }

    .escola-titulo{

        font-size: 70px;


    }
    
    .escola-texto-um{

        font-size: 50px;
    }


    .cabeçalho-lista-item{

        font-size: 40px;
    }




    .escola-titulo-dois{
    
        font-size: 30px
        

    }




